<h1 class="title">Bunk Test</h1>
<div class="card">
  <div class="card-header">
  <ul class="nav nav-bar card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/weather" routerLinkActive="active">Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quiz" routerLinkActive="active">Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fteam" routerLinkActive="active">Football Team</a>
    </li>
  </ul>
  </div>
</div>
<router-outlet></router-outlet>

<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
