<div class="card">
  <div class="font-weight-bold">City: {{city}}</div>
  <div>
    <span class="font-weight-bold">Temperature: </span>
    <span>{{input.temp}}</span>
  </div>
  <div>
      <span class="font-weight-bold">Humidity: </span>
      <span>{{input.humidity}}</span>
  </div>
  <div>
    <span class="font-weight-bold">Min Temp: </span>
    <span>{{input.temp_min}}</span></div>
  <div>
      <span class="font-weight-bold">Max Temo: </span>
      <span>{{input.temp_max}}</span></div>
</div>
